---
import UpdateForm from '@components/react/Update';
import API from '@utils/api';

const endpoint = API.PUT_BODYWORKS;
const searchEndpoint = API.SEARCH_BODYWORKS;
const fields = [
  { name: 'id', type: 'number', placeholder: 'ID' },
  { name: 'name', type: 'text', placeholder: 'Name' },
  { name: 'hasSunroof', type: 'checkbox', placeholder: 'Has sun roof' }
];
---
<div class="p-4 m-4 rounded-lg shadow-lg">
  <h2 style={{ fontSize: '2rem', fontWeight: 'bold', color: 'white' }}>
    Update Bodywork
  </h2>
</div>
<div class="ps-4 ms-4 rounded-lg shadow-lg w-[32rem]">
<UpdateForm client:load endpoint={endpoint} fields={fields} searchEndpoint={searchEndpoint} />
</div>