---
import MainLayout from '../../layouts/MainLayout.astro';
import MainInput from '../../components/MainInput.astro';
---

<MainLayout>
    <h1 class="text-2xl font-bold mb-4">Agregar Datos</h1>
    <MainInput />
</MainLayout>
