---
import API from '@utils/api'
import { Icon } from 'astro-icon/components'
let items: any[] = [];

// Función para obtener los datos desde la API
async function fetchAutomobiles() {
    try {
        items = await API.get(API.GET_MOTORCYCLES)// Guardamos todos los datos de los automóviles
    } catch (error) {
        console.error('Error fetching automobiles:', error);
    }
}
    
// Llamamos a la función cuando se carga el componente
await fetchAutomobiles();
---


<div class="overflow-x-auto">
    <h2 class="text-2xl font-bold mb-4 text-white">Consulta de Datos</h2>


<h3 class="text-xl font-semibold mb-2 text-white">Listado de Automóviles</h3>
  <table class="min-w-full border-collapse bg-gray-800 text-white">
      <thead>
          <tr>
              <th class="border border-gray-600 px-4 py-2 bg-gray-700">ID</th>
              <th class="border border-gray-600 px-4 py-2 bg-gray-700">Marca</th>
              <th class="border border-gray-600 px-4 py-2 bg-gray-700">Precio</th>
              <th class="border border-gray-600 px-4 py-2 bg-gray-700">Número de Serie (SNID)</th>
              <th class="border border-gray-600 px-4 py-2 bg-gray-700">ABS</th>
          </tr>
      </thead>
      <tbody>
          {items.map(moto => (
              <tr class="hover:bg-gray-700">
                  <td class="border border-gray-600 px-4 py-2">{moto.id}</td>
                  <td class="border border-gray-600 px-4 py-2">{moto.brand}</td>
                  <td class="border border-gray-600 px-4 py-2">${moto.price}</td>
                  <td class="border border-gray-600 px-4 py-2">{moto.snid}</td>
                  <td class="border border-gray-600 px-4 py-2">{moto.abs ? 'Sí' : 'No'}</td>
              </tr>
          ))}
      </tbody>
  </table>
</div>