---
import { useState, useEffect } from 'react';
import Form from '@components/react/Form'; // Ajusta la ruta según sea necesario
import API from '@utils/api';

let bodyworks: any[] = [];

const fetchBodyworks = async () => {
  try {
    const response = await API.get(API.GET_BODYWORKS);
    bodyworks = response;
  } catch (error) {
    console.error('Error fetching bodyworks:', error);
  }
};

await fetchBodyworks();

const fields = [
  { name: 'id', type: 'number', placeholder: 'ID' },
  { name: 'brand', type: 'text', placeholder: 'Brand' },
  { name: 'price', type: 'number', placeholder: 'Price' },
  { name: 'snid', type: 'text', placeholder: 'SNID' },
  { name: 'absBrake', type: 'checkbox', placeholder: 'ABS Brake' },
  { name: 'bodywork', type: 'select', placeholder: 'Bodywork', options: bodyworks.map(bw => ({ value: bw.id, label: bw.name })) },
  { name: 'arrivalDate', type: 'datetime-local', placeholder: 'Arrival Date' },
];
---

<div class="p-4 m-4 rounded-lg shadow-lg">
  <Form client:load endpoint={API.POST_AUTOMOBILES} fields={fields} />
</div>