---
// src/components/get/TableAutomobile.astro
import TableReact from '@components/react/Table';
import FilterComponent from '@components/react/Filter';
import API from '@utils/api';

const endpoint = API.GET_AUTOMOBILES;
const title = 'Automobiles';
---
<div class="p-4 m-4 rounded-lg shadow-lg">
  <h2 style={{ fontSize: '2rem', fontWeight: 'bold', color: 'white' }}>
    {title} Table
  </h2>
</div>
<div class="ps-4 ms-4 rounded-lg shadow-lg">
  <TableReact client:load endpoint={endpoint} title={title} />
</div>