---
import DisplayCardReact from '@components/react/DisplayCard'; // Ajusta la ruta según sea necesario

import API from '@utils/api';
const endpoint = '/api/objects'; // Ajusta el endpoint según sea necesario
---

<div class="p-4 m-4 rounded-lg shadow-lg">
  <h2 style={{ fontSize: '2rem', fontWeight: 'bold', color: 'white' }}>
    Search Bodywork
  </h2>
</div>
<div class="ps-4 ms-4 rounded-lg shadow-lg w-[32rem]">
    <DisplayCardReact endpoint={API.SEARCH_BODYWORKS} client:load />
</div>
